:root{
    --black: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.navbar{
    width: 100vw;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem{
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    color: dimgrey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.item:hover{
    color: white;
    cursor: pointer;
}
.active{
    color: white;
}


video{
    opacity: 30%;
}

.heroSec{
    width: 100vw;
    height: 96vh;
    position: relative;
}
#indexVideo2{
    position: absolute;
    top: 19%;
    right: 6%;
}

#logo{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}